@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}


header {
    
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    
    background: #ffffff;
    

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   
}
header img {
    width: 28.85px;
    height: 44.33px;
    margin-top: 18.21px;
    margin-left: 26px;
}
.welcome {
    position: relative;
    display: flex;
    height: 29px;
    gap: 5px;
    padding-top: 29px;
    

    margin-left: 32.73%;
    margin-right: 2.07%;
    margin-bottom: 21.88%;

    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    

    color: #017849;
}


.welcome .bem-vindo {
    display: flex;
    gap: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

}

.welcome .name-bold {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

}

#btn-sairPacientes {
    
    
    background: transparent;
    border: none;
    cursor: pointer;
}



#modal-sairPagina {
    position: absolute;
    
    right: 15px;
    top: 70px;
    height: 150px;
    width: 350px;
    padding-top: 15px;
    gap: 5px;
    
    
    
    
    background: #feffff;
    background-image: url(/assets/logo\ grande.svg);
    background-size: 80px;
    background-repeat: no-repeat;
    
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    
    display: none;
    flex-direction: column;
    align-items: center;
    
    
}

.medico {
    position: absolute;
    left: 30px;
    top: 15px;
    color: black;
    
}

.email-medico {
    position: absolute;
    left: 30px;
    top: 35px;
    color: black;
    
    
    
}

#modal-sairPagina img {
    position: absolute;
    right: 20px;
    width: 120px;
    height: 120px;
}

.sair-geral a {
    position: absolute;
    left: 50px;
    top: 105px;

    
    color: #000000;
    text-decoration: none;
    
}

.sair-geral a:hover {
    
    background: #017849;
    color: #E0E0E0;
    transition: .3s;
    border-radius: 5px;
}

.sair-geral i{
    position: absolute;
    
    left: 35px;
    top: 75px;
    transform: rotate(90deg);
    margin-top: 35px;
    
}




.name-paciente p {

    width: 239px;
    height: 48px;
    margin-left: 138px;
    margin-top: 121px;


    

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;

    

    color: #4F4F4F;

}

#section-card  {
    
    
    justify-content: space-between;
    
    
    height: 551px;
    grid-auto-rows: 200px;
    
    inset: 0;
    margin-left: 132px;
    margin-right: 94px;
    margin-top: 7px;
   

    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: #4F4F4F;
    border-radius: 16px;
}
#btn-cad {

    width: 197px ;
    height:52px;
    
    padding: 14px 20px;
    gap: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    margin-left: 20px;
    margin-top: 20px;

    background: #017849;
    color: #ffffff;
    border-radius: 30px;
    border: none;

    cursor: pointer;

}

#btn-cad:hover {
    background: #FFFFFF;
    border: 1px solid #017849;
    color: #017849;
    transition: .3s;
}



.btn-search button {
    height:48px;
    margin-top: 20px;
    margin-right: 24px;
    
    padding: 14px 20px;
    
    color: #ffffff;
    background: #00995D;
    border-radius: 0px 30px 30px 0px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
}

.btn-search button:hover {
    background: #05ab69;
   
    color: #ffffff;
    transition: .3s;

}
.btn-search {
    margin-right: 105px;
}
.btn-cadastroPaciente {
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}

.btn-search  input {
    width: 250px;
    height:47px;
    margin-right: -3px;
    padding-left: 15px;

    
    border: 1px solid #BDBDBD;
    background: #FFFFFF;
    outline-color: #017849;


    box-sizing: border-box;
    border-radius: 24px 0px 0px 24px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    
    color: #828282;

}


.input-btn  {
    margin-left: 850px;
    background: #4F4F4F;
}

table {
    width: 90%;
    text-align: center;
    
    padding-top: 55px;
    padding-left: 180px;
}


th {
    
    text-align:left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #2F80ED;

}

td {
    margin-top: 10px;
    padding: 10px 0px 10px 5px;

    text-align:left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    box-sizing: border-box;
    border: .3px solid #E0E0E0;

    color: #4F4F4F;

}


  
td:nth-child(1) {
    
    width: 10%;
    
}
  
td:nth-child(2) {
    width: 25%;
    
}
  
td:nth-child(3) {
    width: 45%;
    
}
  
td:nth-child(4) {
    width: 50%;
    
}



.btn-pacientes {
  padding: 0px 0px 5px 100px;  
  
}
.acao {
    padding: 0px 0px 5px 120px; 
}

#agenda {
    
    padding: 4px 8px;
    gap: 10px;

    background: #FFFFFF;
    border: 1px solid #017849;


    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    cursor: pointer;
}

#editar{
    padding: 4px 8px;
    gap: 10px;

    background: #FFFFFF;
    border: 1px solid #2f80ed;


    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    cursor: pointer;

}

#excluir {
    padding: 4px 8px;
    gap: 10px;

    background: #FFFFFF;
    border: 1px solid #eb5757;


    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    cursor: pointer;
}


/* AQUI É A ANIMAÇÃO SUCESSO*/

#card-sucesso {
    
    inset: 0;
    margin: auto;
    
    
    width: 557px;
    height: 444px;

    background: #ffffff;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    transition: .4s;
}

#card-sucesso::backdrop {
    background-color: rgba(0, 0, 0, 0.5)
}
#img-sucesso {
    
    width: 214px;
    height: 214px;
    padding-left: 170px;
    padding-top: 20px;
}

#card-sucesso p {

    padding-top: 95px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 128%;
    
    text-align: center;

    color: #00995D;
}

#btn-fecharSucesso{
    position: absolute;
    left: 26%;
    bottom: 20px;

    width: 264px;
    height: 48px;
    border-radius: 8px;
    border: none;

    background: #017849;
    border-radius: 8px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;  

    color: #FFFFFF;
    cursor: pointer;

}